[MESSAGES CONTROL]
disable=C0114,C0115,C0116,E0110,E1101,E1123,R0801

[BASIC]
good-names=i, j,
           k, v,
           ex,
           Run,
           _,
           df,
           ws, sp,
           X, y, X_train, X_test

[FORMAT]
max-line-length=120
max-module-lines=1000

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
min-similarity-lines=4
