# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

# Definition of AML-related environment variables

variables:

  PYTHON_VERSION: 3.7
  SDK_VERSION: 1.27

  AML_DATASET: mydataset
  AML_MODEL_NAME: mymodel

  # Training
  AML_TRAINING_EXPERIMENT: mytrainingexperiment
  AML_TRAINING_PIPELINE: mytrainingpipeline
  AML_TRAINING_COMPUTE: cpucompute
  AML_TRAINING_ENV_PATH: configuration/environments/environment_training/

  # Batch inference
  AML_BATCHINFERENCE_EXPERIMENT: myinferenceexperiment
  AML_BATCHINFERENCE_PIPELINE: myinferencepipeline
  AML_BATCHINFERENCE_COMPUTE: $(AML_TRAINING_COMPUTE)
  AML_BATCHINFERENCE_ENV_PATH: configuration/environments/environment_inference/
  BATCHINFERENCE_OUTPUT_DIR: myoutputdir
  BATCHINFERENCE_OUTPUT_CONTAINER: myoutputcontainer

  # Real-time inference
  AML_REALTIMEINFERENCE_ENV_PATH: $(AML_BATCHINFERENCE_ENV_PATH)
  AKS_COMPUTE: aks-compute
  AML_WEBSERVICE: webservice
